body {
    background-color: rgb(53, 71, 66);
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    font-weight: 500;
    font-style: oblique;
    margin-top: 10px;
}
a {
    display: inline-block;
}

img {
    width: 180px;
    height: 150px;
    /* margin: 10px 10px; */
    margin-top: 5px;
}

/* edited waali image ki setyling */

/* .second_td {

} */

/* .main-div {
    /* margin-left: 10px; 
   
} */

.second-td{
    width: 156px;
    height: 54.2;
    margin-left: 10px;
}

.second-td .main-div{
    margin-right: -30px;
    /* margin-left: 10px; */
   margin-top: -1px;
}


.second-td input{
    
}

.dustbin {
    width: 30px;
    height: 25px;
}

.edit-image {
    width: 30px;
    height: 25px;
    padding-left: 5px;
}

h3 {
    color: #FFFFFF;
    background: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: #FFFFFF;
    background-color: transparent;
    margin-left: 8px;
    margin-top: 15px;
}

button {
    margin-left: 6px;
    transition: 0.6s ease !important;
}

p {
    font-weight: bold;
    color: #CAE6C6;
    margin-left: 8px;
    
}

#demotext {
    color: #FFFFFF;
    background: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: #FFFFFF;
    background-color: transparent;
}

.para {
    text-align: center;
    background-color: #F8F9FA;
    border: none;
    border-bottom: 1.5px solid #343A40;
}

textarea:focus, .para:focus{
    outline: none;
}

 button{
    margin-top: 5px;
}

@media screen and (max-width:450px){
    img{
        width: 250px;
        /* height: 100px; */
    }
}


/* table,th,td {
    border-spacing: 10px;
}
#last {
    border-bottom: 1px solid black;
}

th:hover {
    background-color: silver;
} */




